<div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="input-group col-8">
            <div class="input-group-prepend1">
              <span class="input-group-text"><i class="cil-search"></i></span>
            </div>
            <div class="search-hero">
              <input class="form-control" type="search" [(ngModel)]="searchText" placeholder="Buscar" autocomplete="off" size="35" >
            </div>
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="cil-calendar"></i></span>
            </div>
            <div class="Filtro-fecha">
              <input class="form-control" id="fechaInicio" [(ngModel)]="fechaIni" type="date" size="20" >
              <input class="form-control" id="fechaFinal" [(ngModel)]="fechaFin" type="date" size="20" >
            </div>
            <button type="button" class="btn btn-info text-white float-right" (click)="filtroFechas()">Filtrar</button>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-primary float-right" *ngIf="accesos.alta==='Y'" (click)="openToAdd()">+Nuevo</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>Fecha ingreso</th>
                <th>Número Documento</th>
                <th>Monto</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of creditosCaja | filter: 'descripcion' : searchText">
              <!-- <td>{{items.id}}</td> -->
              <td>{{items.fecha | date : 'longDate' : '-6' : 'es-GT'}}</td>
              <td>{{items.noDocumento}}</td>
              <td>{{items.monto}}</td>
              <td>{{items.descripcion}}</td>
              <td>
                <button (click)="openToModify(items.id)" *ngIf="accesos.cambio==='Y'" class="btn btn-warning text-white"><i class="cil-pencil"></i></button>
                <button (click)="openToDelete(items.id,items.descripcion,items.noDocumento)" *ngIf="accesos.baja==='Y'" class="btn btn-danger text-white"><i class="cil-trash"></i></button>
                <button (click)="openToVisualy(items.id)" *ngIf="accesos.consulta==='Y'" class="btn btn-info text-white"><i class="cil-find-in-page"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div bsModal #entityModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="entityModal"
    aria-hidden="true">
        <div class="modal-dialog modal-primary modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" (click)="entityModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form class="form-horizontal" [formGroup]="modalForm" (ngSubmit)="saveChanges()">
                <div class="modal-body">
                  <div class="form-group">
                    <label class="col-form-label" for="fechaInput">Fecha</label>
                    <input id="fechaInput" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fecha.errors }"
                           formControlName="fecha" size="16" type="date" [disableControl]="modalMode===0" required>
                    <div *ngIf="submitted && f.fecha.errors" class="invalid-feedback">
                      <div *ngIf="f.fecha.errors.required">La fecha es requerida</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="noDocumentoInput">No. Documento</label>

                    <input id="noDocumentoInput" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.noDocumento.errors }"
                           formControlName="noDocumento" size="16" type="number" [disableControl]="modalMode===0" required>
                    <div *ngIf="submitted && f.noDocumento.errors" class="invalid-feedback">
                      <div *ngIf="f.noDocumento.errors.required">El número de documento es requerido</div>
                    </div>

                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="montoInput">Monto</label>

                    <input id="montoInput" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.monto.errors }"
                           formControlName="monto" size="16" type="number" [disableControl]="modalMode===0" required>
                    <div *ngIf="submitted && f.monto.errors" class="invalid-feedback">
                      <div *ngIf="f.monto.errors.required">El monto es requerido</div>
                    </div>

                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="descripcionInput">Descripción</label>

                        <input id="descripcionInput" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }"
                               formControlName="descripcion" size="16" type="text" [disableControl]="modalMode===0" required>
                    <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
                      <div *ngIf="f.descripcion.errors.required">La descripción es requerida</div>
                    </div>

                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="tipoInput">Tipo</label>

                    <input id="tipoInput" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tipo.errors }"
                           formControlName="tipo" size="16" type="text" [disableControl]="modalMode===0" required>
                    <div *ngIf="submitted && f.tipo.errors" class="invalid-feedback">
                      <div *ngIf="f.tipo.errors.required">El monto es requerido</div>
                    </div>

                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary btn-secondary" type="button" (click)="dismiss()">Cancelar</button>
                  <button type="submit" class="btn btn-primary" *ngIf="modalMode != 0">Guardar</button>
                </div>
            </form>
            </div>
        </div>
    </div>

<!--Modal de Eliminacion-->
<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-sm modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Desea eliminar el registro?</p>
        <p>{{selId+' - '+ selName+'- No.'+selDocumento}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">Cancelar
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteReg()">Eliminar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
